@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  background: #00d09c;
  width: 100%;
  overflow-x: hidden;
}

.form {
  width: 350px;
  padding: 15px 40px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin: 4% auto;
  color: #9a9ca7;
  position: relative;
  font-family: "Rubik", sans-serif;
}

.highlight {
  color: #00d09c;
}

.header {
  text-align: center;
  color: #44475b;
}

.box,
.animbox {
  padding-bottom: 10px;
  position: relative;
}

.inputLabel {
  display: block;
  margin-bottom: 5px;
}

.textInput {
  padding: 10px 0px 0px 0px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
}

.form-inline {
  padding: 8px 0px 10px 0px;
  border-radius: 2px;
  margin-left: -4px;
}

.form-inline .inlineLabel,
.form-inline .genderRadio {
  display: inline-block;
  width: auto;
  margin-right: 15px;
}

.error {
  bottom: -10px;
  color: #eb5b3c;
  font-size: 12px;
  height: 20px;
}

.form .animbox .inputLabel {
  position: absolute;
  left: 0;
  pointer-events: none;
  bottom: 33px;
  transition: all 0.3s ease;
}
.animbox input:focus ~ .inputLabel,
.animbox input:valid ~ .inputLabel {
  transform: translateY(-20px);
  color: #00d09c;
}

.form .animbox .underline {
  position: absolute;
  bottom: 29px;
  height: 2px;
  width: 100%;
}

.animbox .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #00d09c;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.animbox input:focus ~ .underline:before,
.animbox input:valid ~ .underline:before {
  transform: scaleX(1);
}

.animbox .textInput {
  border: 0px;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  outline: none;
  font-family: "Rubik", sans-serif;
  color: #44475b;
}

.dateInput,
.select {
  margin-top: 10px;
  font-family: "Rubik", sans-serif;
  outline: none;
  border: 1px solid #ccc;
  padding: 10px 0px 10px 0px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
}

.dateInput:focus,
.select:focus {
  border-bottom: 2px solid #00d09c;
}

.submitBtn {
  width: 100%;
  height: 50px;
  font-size: 110%;
  font-weight: 200;
  background-color: #00d09c;
  border-color: #00d09c;
  font-family: "Rubik", sans-serif;
  color: white;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}

.submitBtn:hover {
  background: #0ca17c;
  border-color: #0ca17c;
}

.select{
  background-color: white;
}


@media (min-width: 320px) and (max-width: 768px) {
  .form{
    width:300px;
    margin-top:30px;
  }
}
